body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}

.box {
    width: 100%;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.5);
}


.container {
    height: 100vh;
    display: block;
    width: 100%;
    margin: auto;
}

.markers {
    padding-left: 0;
    margin-top: 40px;
}

.markers span {
    list-style: none;
}

.markers span a {
    border-bottom: 0px solid black;
    line-height: 30px;
    color: blue;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

.markers span a:hover {
    border-bottom: 1px solid black;
}

.input-text {
    box-shadow: 0 0 5px rgba(72, 72, 72, 1);
    line-height: 24px;
    padding: 8px;
    width: 100%;
    font-size: 18px;
}

